.info{
	background: #DD4f4fff;
}
body{
	font-family: 'lato', sans-serif;
}
.primary-color{
	color: yellow;
}
.info h2{
	word-spacing: .6rem;
}
.info a{
	transition: color 2s ease-in-out;
}
.info a:hover{
	color: #242424;
}